body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding-top: 0px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #0f0d30;
}
.navbar-brand {
    color:#ffffff;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
}
.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 20px;
    margin-left: 95px;
    margin-right: 125px;
    text-decoration: none;
}
.navbar-nav .nav-link:hover {
    color: #ffffff;
}
svg{
    color: #000000;
}
.d-flex {
    width: 400px;
    margin-top: 5px;
}
.d-flex input {
    border-radius: 20px;
}
.d-flex button {
    margin-left: 10px;
    border-radius: 20px;
    background-color: #000000 ;
}
.principal h1{ 
    text-align: center;
    font-weight: bolder;
    color: #bcbbc7;
    margin: 10px 0;
}
.principal1 h1{ 
    text-align: center;
    font-weight: bolder;
    color: #b0aeca;
    margin: 7px 0;
}
.principal h3{ 
    text-align: center;
    font-weight: bolder;
    color: #bcbbc7;
    margin: 10px 0;
}
.principal {
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
}
.principal1 {
    background-color: #000000;
    text-align: center;
    padding: 10px 0;
}
.rodape {
    background-color: #ffffff;
    text-align: center;
    padding: 0.5px 0;
}
.text-muted{
    font-size: 20px;
    margin-top: 5px;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0e0e44;
    color: #fff; 
    text-decoration: none; 
    transition: all 0.3s ease; 
  }
  
  .button-link:hover {
    background-color: #0e0e44;
  }
.feature {
    max-width: 1350px;
    margin: auto;
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 50px; 
}

.feature img {
    max-width: 100%;
    height: auto;
}

.feature p {
    text-align: justify;
    font-weight: bolder;
    color:  #686687;
    margin-top: 30px;
}

.card {
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(107, 44, 44, 0.1);
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}


.card-text {
    color: #0a2442;
}

.card button {
    margin-left: calc(50% - 60px);
}
.card-title, .card-text{
    text-align: center;
}
.modal-body{
    text-align: center;
}
.tit h2{
    text-align: center;
    margin-top: 50px;
    color: #000000;
    font-weight: bold;
}

.custom-form {
    background-color: #f8f9fa; 
    border: 1px solid #0f0d30; 
    border-radius: 10px; 
    padding: 30px; 
    margin: 50px auto; 
    max-width: 500px; 
}
.custom-form h2 {
    margin-bottom: 20px; 
    text-align: center;
    color: #0f0d30;
}
.custom-form label{
    color: #0f0d30;
}
.custom-form  button{
    margin-left: 180px;
   background-color:  #0f0d30;
}